In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.naive_bayes import GaussianNB

In [2]:
df = pd.read_excel("Datos.xlsx", index_col ="Nombre")

In [3]:
df.head()

            X1  X2  Y
Nombre
Luis       400  20  0
Francisco  450  35  0
Maria      500  25  0
Alvaro     600  15  0
Soledad    600  30  0

In [4]:
np.random.seed(1234)

In [5]:
X = df[["X1","X2"]]
Y = df["Y"]
Xtrain, Xtest,Ytrain,Ytest = train_test_split(X,Y,test_size=0.3)

In [6]:
nbc =GaussianNB()

In [7]:
nbc.fit(Xtrain,Ytrain)

GaussianNB(priors=None)

In [8]:
Ypred =nbc.predict(Xtest)

In [9]:
accuracy_score(Ytest,Ypred)

1.0

In [10]:
confusion_matrix(Ytest,Ypred)

array([[5, 0],
       [0, 2]], dtype=int64)

In [11]:
nbc.predict([[2500,21]])

array([1], dtype=int64)

In [12]:
X

             X1  X2
Nombre
Luis        400  20
Francisco   450  35
Maria       500  25
Alvaro      600  15
Soledad     600  30
Sandra      700  25
Yaneth      800  25
Luz         850  15
Stella      550  45
Carolina    750  60
Juan       1000  40
Esteban     700  35
Ricardo     550  50
Valentina   600  65
Pedro       750  70
Julian      850  65
Liliana     900  75
Carlos      900  55
Johanna     900  40
Edna       1050  45
Rocio      1050  60
Sonia      1200  50
Alexandra  1150  35