In [1]:
import pandas as pd
import numpy as np

In [2]:
dfTest = pd.read_csv("test.test",header=None)
dfTrain = pd.read_csv("data.data",header=None)

In [3]:
col = ['age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation', 'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',"class"]

In [4]:
dfTrain.columns=col

In [5]:
dfTest.columns=col

In [22]:
dfTest.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,class
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
5,34,Private,198693,10th,6,Never-married,Other-service,Not-in-family,White,Male,0,0,30,United-States,<=50K.

In [15]:
dfTrain.replace(" ?",np.NaN,inplace=True)
dfTest.replace(" ?",np.NaN,inplace=True)

In [17]:
dfTrain.shape

(32561, 15)

In [18]:
dfTest.shape

(16281, 15)

In [19]:
dfTrain.dropna(inplace=True)
dfTest.dropna(inplace=True)

In [20]:
dfTrain.shape

(30162, 15)

In [21]:
dfTest.shape

(15060, 15)